<h2>Edit Your Band!</h2>
<form action="<%= band_url(@band.id) %>" method="post">
    <input type="hidden" name="_method" value="patch"/>
    <%= auth_token %>
    <label for="new_band_name">Band Name</label>
    <input type="text" id="new_band_name" name="band[name]" value="<%= @band.name %>"/>

    <input type="submit" value="Update Your Band!"/>
</form>